* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Trirong", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* BEM naming convention */
/* Navigation Bar */

.navbar-toggler {
  background-color: #fff !important;
}

.navbar-toggler-icon {
  background-color: #fff !important;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #fff !important;
}

.navbar__logo {
  align-items: center;
}

.navbar__item {
  place-items: center;
}


/* Jumbotron */

@media only screen and (max-width: 576px) {
  .jumbotron {
    max-height: 50vh;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
}

@media only screen and (max-width: 767px) {
  .jumbotron {
    max-height: 50vh;
    transform: translateX(-50%);
    left: 50%;
  }
}

@media (max-width: 992px) {
  .jumbotron {
    max-height: 50vh;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
  }
}

@media (max-width: 1000px) {
  .jumbotron {
    min-height: 50vh;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
  }
}

span {
  background-color: #ffffff8d;
  line-height: 1.7;
  position: relative;
}

button {
  background-color: #dc7863 !important;
  border: #dc7863 !important;
}


/* Cards  */

.cards__statement {
  align-content: center;
  line-height: 1.7;
  padding-top: 75px;
  padding-bottom: 75px;
}

.cards {
  place-items: center;
  padding-left: 80px;
  padding-right: 75px;
}

.cards__body {
  place-items: center;
}

/* MiddleCard */

.middleCard {
  padding-top: 170px;
  padding-bottom: 170px;
}

.middleCard__graphic {
  background-image: url("./assets/images/freshBoxes.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 500px;
}

