* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Trirong", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.container {
  padding-top: 30px;
}


/* Navigation Bar */

.navbar-toggler {
  background-color: #fff !important;
}

.navbar-toggler-icon {
  background-color: #fff !important;
}

.navbar {
  position: sticky;
  display: flex;
  align-items: center;
  background-color: #fff !important;

}

.navbar__logo {
  position: sticky;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  height: 130px !important;
  width: 130px !important;
}


/* HOME PAGE */
/* Jumbotron */

@media only screen and (max-width: 576px) {
  .jumbotron {
    max-height: 50vh;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
}

@media only screen and (max-width: 767px) {
  .jumbotron {
    max-height: 50vh;
    transform: translateX(-50%);
    left: 50%;
  }
}

@media (max-width: 992px) {
  .jumbotron {
    max-height: 50vh;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
  }
}

@media (max-width: 1000px) {
  .jumbotron {
    min-height: 50vh;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
  }
}

span {
  background-color: #f6e3c48d;
  line-height: 1.7;
  position: relative;
}

button {
  background-color: #dc7863 !important;
  border: #dc7863 !important;
}


/* Cards  */

Img {
  height: 250px;
  width: 200px;
}

.cards__statement {
  align-content: center;
  line-height: 1.7;
  padding-top: 170px;
  padding-bottom: 170px;
}

.cards {
  background-color: #c6d8cf;  
  place-items: center;
  padding-left: 80px;
  padding-right: 75px;
}


/* MiddleCard */

.middleCard {
  padding-top: 350px;
  padding-bottom: 170px;
}

.middleCard__graphic {
  background-image: url("./assets/images/freshBoxes.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 500px;
}

/* Footer */

.footer__container {
  padding-top: 170px;
}

.footer {
  background-color: #dfbbb6;
  padding: 20px 50px 0px 70px;   /* top, right, bottom, left */
}

.footer__header {
  line-height: 3;
}

.footer__link {
  text-decoration: none;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}


/* ABOUT PAGE */

.about {
  padding-top: 20px;
  padding-bottom: 70px;
}

.about__founder {
  width: 500px;
  height: 500px;
}